
.content {
  @include container;

  &__inner {
    @include grid;

    &--flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &--nopadding {
      padding: 0;
    }
  }
  &__content {
    max-width: clamp(300px,100vw,650px);
    padding: 2rem 0;
    margin: 0 auto;
    text-align: center;
  }
  &__box {
    position: relative;
    padding: 1rem 2rem;
    text-align: left;
    align-self: stretch;

    @media (min-width: 769px) {
      grid-column: span 4;
    }
    &__background {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 0;
      margin: 0;

      &__image {
        @include img;
        object-fit: cover;
      }
    }
    &__inner {
      position: relative;
      z-index: 1;
    }
  }
  &__acc {

    &__item {
      margin-bottom: 1rem;
      text-align: left;

      &.active {
        .content__acc__icon {
          transform: rotate(180deg);
        }
        .content__acc__body {
          pointer-events: initial;
          opacity: 1;
          transform: translateZ(0);
          max-height: 100%;
          transition: all ease-in .25s;
          padding-bottom: 1rem;
        }
      }
    }
    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      cursor: pointer;
      position: relative;
      border-bottom: 1px solid var(--grey);
    }
    &__body {
      pointer-events: none;
      opacity: 0;
      transform: translateY(-2rem);
      max-height: 0;
      padding: 0;
      overflow: hidden;
    }
    &__icon {
      transform-origin: center;
      transition: all ease-in .25s;
      width: 2rem;
      max-width: 2rem;
      min-width: 2rem;
      flex: 0 0 2rem;
    }
  }
  &__btn {
    @include btn;
  }
}