
.marketing {
  @include container;

  &__inner {
    @include grid;

    &--flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__content {
    max-width: clamp(300px,100vw,650px);
    padding: 2rem 0;
    margin: 0 auto;
    text-align: center;
  }
  &__preform {
    flex: 1;
    min-width: 250px;
    max-width: 50%;
    padding: 1rem 0;
    margin: 0 auto;
    text-align: left;

    &--center {
      text-align: center;
    }
  }
  &__form {
    flex: 1;
    min-width: 250px;
    max-width: 45%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin: 0 auto;
  }
  &__input {
    appearance: none;
    display: inline-block;
    border: 1px solid var(--black);
    border-right: 0;
    background: transparent;
    text-decoration: none;
    color: var(--black);
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
  }
  &__btn {
    @include btn;
  }
}