.nav {
  @include container;
  position: relative;
  overflow: initial;

  &__inner {
    @include grid;

    row-gap: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  &__logo {
    grid-column: span 2;
    grid-row: 1;
    overflow: hidden;
    text-align: left;

    @media (min-width: 768px) {

    }

    &__img {
      @include img;
      max-height: 3rem;
      width: auto;
    }
  }
  &__hmb {
    grid-column: 4/5;
    grid-row: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px solid var(--grey);

    @media (min-width: 768px) {
      display: none;
    }

    &.active {
      .nav__hmb__line:nth-child(1) {
        transform: translateY(calc(0.5rem + 1px)) rotate(45deg);
      }
      .nav__hmb__line:nth-child(2) {
        transform: scale(0);
      }
      .nav__hmb__line:nth-child(3) {
        transform: translateY(calc(-0.5rem - 1px)) rotate(-45deg);
      }
    }
    &__line {
      width: 2rem;
      height: 1px;
      background-color: var(--black);
      margin-bottom: 0.5rem;
      transition: all ease-in .25s;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &__core {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border: 1px solid var(--grey);

    pointer-events: none;
    opacity: 0;
    transition: all ease-in .25s;

    @media (min-width: 768px) {
      pointer-events: initial;
      opacity: 1;
      position: static;
      width: auto;
      flex-direction: row;
      border: 0;
      grid-column: span 10;
      justify-content: flex-end;
    }

    &.active {
      pointer-events: initial;
      opacity: 1;
      z-index: 10;
      
      .nav__core__link {
        opacity: 1;
        transition: all ease-in .25s;
      }
    }
    &__link {
      opacity: 0;
      transition: none;
      margin: 1rem 0 0;

      @media (min-width: 768px) {
        opacity: 1;
        margin: 0 1rem 0 0;
      }

      &:first-child {
        margin-top: 2rem;
        @media (min-width: 768px) {
          margin-top: 0;
        }
      }
      &:last-child {
        margin-bottom: 2rem;
        @media (min-width: 768px) {
          margin-bottom: 0;
          margin-right: 0;
        }
      }
      &--dropdown {
        position: relative;
        display: block;

        @media (max-width: 768px) {
          border-bottom: 1px solid;
          margin-bottom: 1rem;
          text-align: center;
        }
        @media (min-width: 768px) {
          margin-right: 2rem;
          &:after {
            content: "";
            position: absolute;
            border-top: 0.25rem solid var(--black);
            border-left: 0.25rem solid transparent;
            border-right: 0.25rem solid transparent;
            top: 50%;
            right: -0.75rem;
            transform: translateY(-50%);
          }
        }
        &:hover {
          .nav__core__dropdown {
            opacity: 1;
            transform: translateY(0);
            pointer-events: initial;
          }
        }
      }
      &--sub {
        cursor: pointer;
        text-decoration: underline;
        position: relative;

        @media (min-width: 768px) {
          opacity: 1;
          margin-right: 2rem;
        }

        &:after {
          content: "";
          position: absolute;
          border-top: 0.25rem solid var(--black);
          border-left: 0.25rem solid transparent;
          border-right: 0.25rem solid transparent;
          top: 50%;
          right: -0.75rem;
          transform: translateY(-50%);
          transition: all ease-in .25s;
        }
        &.active {
          &:after {
            transform: translateY(-50%) rotate(-180deg);
          }
        }
      }
    }
    &__dropdown {
      background-color: var(--white);
      position: static;
      padding: 1rem;
      min-width: 100px;
      width: max-content;
      display: flex;
      flex-direction: column;
      opacity: 1;
      pointer-events: none;
      transform: translateY(0);
      z-index: 1;
      transition: all ease-in .25s;

      @media (min-width: 768px) {
        position: absolute;
        top: 100%;
        left: 0%;
        opacity: 0;
        pointer-events: none;
        transform: translateY(0.5rem);
      }
      &:hover {
        opacity: 1;
        transform: translateY(0);
        pointer-events: initial;
      }
      &__link {
        margin-bottom: 0.5rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &__sub {
    display: none;

    text-align: left;
    background-color: var(--white);
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0%;
    width: 100%;
    pointer-events: none;
    flex-direction: column;

    @media (min-width: 768px) {
      position: static;
    }

    &.active {
      display: flex;
      pointer-events: initial;
    }
    &__item {
      display: none;
      padding: 1rem;

      &.active {
        display: block;
        overflow: hidden;
      }
    }
    &__exit {
      margin: 1rem 1rem 0;
      padding: 0.5rem;
      border: 1px solid var(--black);
      width: max-content;

      @media (min-width: 768px) {
        display: none;
      }
    }
  }
  &__pre {
    border-bottom: 1px solid var(--grey);
    padding: 0.25rem 1rem;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    &__link {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__btn {
    @include btn;
  }
}