.showcase {
  @include container;

  &__inner {
    @include grid;

    &--nopadding {
      padding: 0;
    }
  }
  &__collection {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  &__item {
    flex: 1;
    min-width: 250px;
    max-width: 25%;
    margin: 1rem auto;
    border: 1px solid var(--grey);

    &__fig {
      overflow: hidden;
    }
    &__img {
      @include img;
    }
    &__btn {
      @include btn;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    &--reverse {
      flex-direction: row-reverse;
    }

    &__content {
      flex: 1;
      min-width: 250px;
      max-width: 50%;
      margin: 0 auto;
      padding: 0.5rem 2rem;
      text-align: center;

      @media (min-width: 769px) {
        text-align: left;
      }
    }
    &__fig {
      flex: 1;
      min-width: 250px;
      max-width: 50%;
      margin: 1rem auto;
      overflow: hidden;
    }
    &__img {
      @include img;
    }
  }
  &__box {
    position: relative;
    padding: 1rem 2rem;
    text-align: left;
    align-self: stretch;

    @media (min-width: 769px) {
      grid-column: span 4;
    }
    &__background {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 0;
      margin: 0;

      &__image {
        @include img;
        object-fit: cover;
      }
    }
    &__inner {
      position: relative;
      z-index: 1;
    }
  }
  &__btn {
    @include btn;
  }
}