
.slider {
  @include container;

  &__inner {
    @include grid;
  }
  &__core {
    position: relative;
    height: clamp(300px, 35vh, 500px);

    &__slide {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      /*
      width: 100% - horizontal padding, which is 20% + 20% -> 100% - 40%
      height: 100% - vertical padding, which is 1rem + 1rem -> 100% - 2rem
      */
      width: 60%;
      height: calc(100% - 2rem);
      padding: 2rem 20%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      
      display: none;

      &.active {
        display: flex;
      }
    }
  }
  &__nav {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__prev {
      padding: 1rem;
      border: 1px solid var(--grey);
      cursor: pointer;
    }
    &__next {
      padding: 1rem;
      border: 1px solid var(--grey);
      cursor: pointer;
    }
  }
}